.container {
  flex: 0 0 50px;
  display: flex;
  background-color: #05264c;
  color: #ffffff;
  align-items: center;
  padding: 0 20px;

  & a {
    color: #ffffff;
    text-decoration: none;
  }
}

.logo {
  flex: 1 1 auto;
}

.signIn {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
