.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  & h1,
  & h2 {
    margin: 0.75rem 0 0.25rem 0;
    font-weight: 600;
  }

  & h2 {
    font-size: 2rem;
  }
}

.actionContainer {
  width: 80vw;
  display: flex;

  & > div {
    flex: 1 1 auto;
    padding: 10px;
  }
}
