.main {
  max-width: 1400px;
  padding: 3rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 18px;

  & h2 {
    color: #575a89;
  }
}

.note {
  max-width: 550px;
  margin: auto;
}
